body {
  font-weight: 500;
  font-family: 'Abel', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

h1, h2 , h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
}

section {
  /*height: 100vh;*/
  padding-bottom: 24px;
}

.title {
  font-family: 'Tangerine', cursive;
  font-family: 'Dancing Script', cursive;
}

.title-link {
  font-size: 24px;
}

.content {
  /*width: 100%;*/
  padding-top: 48px;
  margin: 0 auto;
}

.header {
  background-color: white;
  /*min-height: 56px;*/
}

#welcome {
  background-color: #FAFAFA;
  background: url(../img/welcome-bg05.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.welcome {
  padding-top: 0;
}

.motto {
  text-align: center;
}

#about {
  background-color: #F5F5F5;
  text-align: center;
}

#pricing {
  background-color: #FAFAFA;
  text-align: center;
}

#contact {
  background-color: #F5F5F5;
  text-align: center;
}


.contact-link {
  color:inherit;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

