* {
  box-sizing: border-box; 
}

body {
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  height: 100vh;
}

.content {
  width: 100%;
  padding-top: 48px;
  max-width: 640px;
  margin: 0 auto;
}

.header {
  background-color: #9CCC65;
}

#welcome {
  background-color: #FAFAFA;
  background: url(../img/welcome-bg.jpg);
  text-align: center;
}

#about {
  background-color: #F5F5F5;
}

#pricing {
  background-color: #FAFAFA;
}

#contact {
  background-color: #F5F5F5;
}
